{% extends "trip/base.html" %}
{% block content %}
  <div class="container">
    <div>
      {% if cars%}
      <h3>All cars on the system.</h3>
      {%else%}
      <a href="{% url 'add_car'%}" class="btn btn-success">+</a>
      {%endif%}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Added</th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
          <th scope="col">Make</th>
          <th scope="col">Owner</th>
          <th scope="col">Add </th>
          <th scope="col">Remove </th>
          <th scope="col">Edit</th>
        
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
        <tr>
          <td style="color: blue; font-weight: bold">
            {{car.date_added |timesince}} ago
          </td>
          <td>{{car.model}}</td>
          <td>{{car.year}}</td>
          <td>{{car.make}}</td>
          <td>{{car.driver}}</td>
          <td><a href="{% url 'add_car'%}" class="btn btn-success">+</a></td>
          <td><a href="{% url 'delete_car' car.id %}" class="btn btn-danger">x </a></td>
          <td><a href="{% url 'edit_car' car.id %}" class="btn btn-secondary">📝 </a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock%}